<div class="import-list-content" ng-controller="singleTicketFollowCtrl">
    <div class="container search-content">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div class="container">
                    <div class="row" style="margin-top: 2px">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div style="height: 40px; line-height: 40px; vertical-align: bottom">
                                <label>当前操作状态：</label>
                                <span class="search-span">进码头</span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <span class="search-span">当前车速：</span>
                            <span class="search-span-red">0</span>
                            <span class="search-span">km/h</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left: 2px; margin-top: 5px;">
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <span class="search-span">预计到达时间：</span>
                        <span class="search-span">2016-05-27</span>
                        <span class="search-span-red">16:00</span>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <span class="search-span">实际到达时间：</span>
                        <span class="search-span">2016-05-27</span>
                        <span class="search-span-red">16:03</span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-3" style="position: relative;">
                <a href="http://app.sinoagentxm.com:8088/appserver/cargotracking.vc?blno=APLU077599348" class="btn-search" style="text-align: center; line-height: 80px;" ng-click="billSearch()">全程跟踪</a>
                <button id="start" class="btn-reset">轨迹回放</button>
            </div>
        </div>
    </div>
    <div style="min-width: 1040px; padding: 5px; border: 1px solid #bfbfbf; margin-top: 10px;">
        <div id="single-map">
            <!--<div id="panel" class="map-style">

            </div>-->

        </div>
    </div>
</div>