<div class="import-list-content" ng-controller="singleTicketFollowCtrl">
    <div style="margin-top: 10px; position: relative;">
        <div class="detail-back-list"><a id="import-back" ui-sref="index.ticketFollow" style="color: #ffffff;"><  返回整票</a></div>
        <span class="detail-back">整票跟踪 > 单票跟踪</span>
    </div>
    <div class="container search-content"  style="margin-top: 20px;">
        <div class="row col-lg-12">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div class="container">
                    <div class="row col-lg-12" style="margin-top: 2px">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <div style="height: 40px; line-height: 40px; vertical-align: bottom">
                                <label>当前操作状态：</label>
                                <span class="search-span" ng-bind="containerVo.containerStateDesc"></span>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <span class="search-span">当前车速：</span>
                            <span class="search-span-red" ng-bind="speedOfCar"></span>
                            <span class="search-span">km/h</span>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        </div>
                    </div>
                    <div class="row col-lg-12">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <span class="search-span">预计到达时间：</span>
                            <span class="search-span" ng-bind="containerVo.expectArriveDate"></span>
                            <span class="search-span-red" ng-bind="containerVo.expectArriveTime"></span>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <span class="search-span">实际到达时间：</span>
                            <span class="search-span" ng-bind="containerVo.realArriveDate"></span>
                            <span class="search-span-red" ng-bind="containerVo.realArriveTime"></span>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-lg-3 col-md-3 col-sm-3" style="position: relative;">
                <a href="http://app.sinoagentxm.com:8088/appserver/cargotracking.vc?blno=APLU077599348" class="btn-search" style="text-align: center; line-height: 80px;" ng-click="billSearch()">全程跟踪</a>
                <button id="start" class="btn-reset">轨迹回放</button>
            </div>
        </div>
    </div>
    <div style="min-width: 1040px; padding: 5px; border: 1px solid #bfbfbf; margin-top: 10px;">
        <div id="single-map">

        </div>
    </div>
</div>