
<div class="import-list-content" ng-controller="ticketFollowCtrl">
    <div style="margin-top: 10px; position: relative;">
        <div class="detail-back-list" ng-click="backList()" style="cursor: pointer;"><a id="import-back" style="color: #ffffff;"><  返回中心</a></div>
        <span ng-show="isImportOrExport" class="detail-back">进口订单中心 > 整票跟踪</span>
        <span ng-show="!isImportOrExport" class="detail-back">出口订单中心 > 整票跟踪</span>
    </div>
    <div class="detail-second-table-top" style="border: 1px solid #ddd; margin-top: 30px; color: #333; min-width: 1040px;">
        <span class="ticket-follow-title">
            提单号：<span ng-bind="orderVo.orderBillNo"></span>
            / 船名：<span ng-bind="orderVo.orderShipName"></span>
            / 航次：<span ng-bind="orderVo.orderSailing"></span>
        </span>
        <a href="http://app.sinoagentxm.com:8088/appserver/cargotracking.vc?blno=APLU077599348" class="red-btn" style="position: absolute; right: 88px;">全程跟踪</a>
        <button class="blue-btn" style="position: absolute; right: 0;" ng-click="backDetail()">订单详情</button>
    </div>
    <div id="import-detail-first-table">
        <table ng-show="isImportOrExport" class="table table-bordered table-hover unEditContainerTable" style="min-width: 1040px; margin-bottom: 0;">
            <thead style="background: #e5e5e5;">
            <tr>
                <th class="id-display">
                    <span>id</span>
                </th>
                <th>
                    <span>箱型尺寸</span>
                </th>
                <th>
                    <span>箱号</span>
                </th>
                <th>
                    <span>铅封号</span>
                </th>
                <th>
                    <span>状态跟踪</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in stateVoList" ng-dblclick="getContainerMsg($event, item.containerId, item.containerGbsId)">
                <td class="id-display">
                    <span class="billOrderId">{{item.containerId}}</span>
                    <span>{{item.containerGbsId}}</span>
                </td>
                <td>
                    <span>{{item.containerCartonSize}}</span>
                    <span>{{item.containerType}}</span>
                </td>
                <td>
                    {{item.containerCaseNo}}
                </td>
                <td>
                    {{item.containerSealNo}}
                </td>
                <td style="width: 725px;">
                    <div class="container-track" ng-show="item.containerState==0?true:false">
                        <div class="follow-status-item">
                            <img src="../images/grey-done.png">
                            <div class="gray-word">下单完成</div>
                        </div>
                        <div class="follow-status-item" style="left: 165px;">
                            <img src="../images/grey-done.png">
                            <div class="gray-word">出闸时间</div>
                        </div>
                        <div class="follow-status-item" style="left: 305px;">
                            <img src="../images/grey-done.png">
                            <div class="gray-word">到达工厂</div>
                        </div>
                        <div class="follow-status-item" style="left: 445px;">
                            <img src="../images/grey-done.png">
                            <div class="gray-word">卸货完成</div>
                        </div>
                        <div class="follow-status-item" style="left: 585px;">
                            <img src="../images/grey-done.png">
                            <div class="gray-word">还空完成</div>
                        </div>
                        <div class="follow-status-line2" style="left: 108px;">
                            <img src="/images/gray-line.png">
                        </div>
                        <div class="follow-status-line2" style="left: 248px;">
                            <img src="/images/gray-line.png">
                        </div>
                        <div class="follow-status-line2" style="left: 388px;">
                            <img src="/images/gray-line.png">
                        </div>
                        <div class="follow-status-line2" style="left: 528px;">
                            <img src="/images/gray-line.png">
                        </div>
                    </div>
                    <div class="container-track" ng-show="item.containerState==1||item.containerState==2||item.containerState==3||item.containerState==4?true:false">
                        <div class="follow-status-item">
                            <img src="../images/red-done.png" ng-show="item.containerState==2||item.containerState==3||item.containerState==4?true:false">
                            <img src="../images/red-check.png" ng-show="item.containerState==1?true:false">
                            <div>下单完成</div>
                            <div style="font-size: 8px;" ng-bind="item.time1"></div>
                        </div>
                        <div class="follow-status-item" style="left: 165px;">
                            <img src="../images/grey-done.png" ng-show="item.containerState==0||item.containerState==1?true:false">
                            <img src="../images/red-done.png" ng-show="item.containerState==3||item.containerState==4?true:false">
                            <img src="../images/red-check.png" ng-show="item.containerState==2?true:false">
                            <div>出闸时间</div>
                            <div style="font-size: 8px;" ng-bind="item.time2"></div>
                        </div>
                        <div class="follow-status-item" style="left: 305px;">
                            <img src="../images/grey-done.png" ng-show="item.containerState==0||item.containerState==1||item.containerState==2?true:false">
                            <img src="../images/red-done.png" ng-show="item.containerState==4?true:false">
                            <img src="../images/red-check.png" ng-show="item.containerState==3?true:false">
                            <div>到达工厂</div>
                            <div style="font-size: 8px;" ng-bind="item.time3"></div>
                        </div>
                        <div class="follow-status-item" style="left: 445px;">
                            <img src="../images/grey-done.png" ng-show="item.containerState==0||item.containerState==1||item.containerState==2||item.containerState==3?true:false">
                            <img src="../images/red-done.png" ng-show="item.containerState==5?true:false">
                            <img src="../images/red-check.png" ng-show="item.containerState==4?true:false">
                            <div>卸货完成</div>
                            <div style="font-size: 8px;" ng-bind="item.time4"></div>
                        </div>
                        <div class="follow-status-item" style="left: 585px;">
                            <img src="../images/grey-done.png" ng-show="item.containerState==0||item.containerState==1||item.containerState==2||item.containerState==3||item.containerState==4?true:false">
                            <div>还空完成</div>
                            <div style="font-size: 8px;" ng-bind="item.time5"></div>
                        </div>
                        <div class="follow-status-line" style="left: 108px;">
                            <div>
                                <span ng-show="item.containerState==1?true:false" class="red-word">等待提重</span>
                            </div>
                            <img src="../images/gray-line.png" ng-show="item.containerState==0?true:false">
                            <img src="../images/red-line.png" ng-show="item.containerState==2||item.containerState==3||item.containerState==4?true:false">
                            <img src="../images/red-gray-line.png" ng-show="item.containerState==1?true:false">
                        </div>
                        <div class="follow-status-line" style="left: 248px;">
                            <div>
                                <span ng-show="item.containerState==2?true:false" class="red-word">等待上柜</span>
                            </div>
                            <img src="../images/gray-line.png" ng-show="item.containerState==0||item.containerState==1?true:false">
                            <img src="../images/red-line.png" ng-show="item.containerState==3||item.containerState==4?true:false">
                            <img src="../images/red-gray-line.png" ng-show="item.containerState==2?true:false">
                        </div>
                        <div class="follow-status-line" style="left: 388px;">
                            <div>
                                <span ng-show="item.containerState==3?true:false" class="red-word">等待卸货</span>
                            </div>
                            <img src="../images/gray-line.png" ng-show="item.containerState==0||item.containerState==1||item.containerState==2?true:false">
                            <img src="../images/red-line.png" ng-show="item.containerState==4?true:false">
                            <img src="../images/red-gray-line.png" ng-show="item.containerState==3?true:false">
                        </div>
                        <div class="follow-status-line" style="left: 528px;">
                            <div>
                                <span ng-show="item.containerState==4?true:false" class="red-word">等待还空</span>
                            </div>
                            <img src="../images/gray-line.png" ng-show="item.containerState==0||item.containerState==1||item.containerState==2||item.containerState==3?true:false">
                            <img src="../images/red-gray-line.png" ng-show="item.containerState==4?true:false">
                        </div>
                    </div>
                    <div class="container-track" ng-show="item.containerState==5?true:false">
                        <div class="follow-status-item">
                            <img src="../images/blue-done.png">
                            <div>下单完成</div>
                            <div style="font-size: 8px;" ng-bind="item.time1"></div>
                        </div>
                        <div class="follow-status-item" style="left: 165px;">
                            <img src="../images/blue-done.png">
                            <div>出闸时间</div>
                            <div style="font-size: 8px;" ng-bind="item.time2"></div>
                        </div>
                        <div class="follow-status-item" style="left: 305px;">
                            <img src="../images/blue-done.png">
                            <div>到达工厂</div>
                            <div style="font-size: 8px;" ng-bind="item.time3"></div>
                        </div>
                        <div class="follow-status-item" style="left: 445px;">
                            <img src="../images/blue-done.png">
                            <div>卸货完成</div>
                            <div style="font-size: 8px;" ng-bind="item.time4"></div>
                        </div>
                        <div class="follow-status-item" style="left: 585px;">
                            <img src="../images/blue-check.png">
                            <div>还空完成</div>
                            <div style="font-size: 8px;" ng-bind="item.time5"></div>
                        </div>
                        <div class="follow-status-line2" style="left: 108px;">
                            <img src="/images/blue-line.png">
                        </div>
                        <div class="follow-status-line2" style="left: 248px;">
                            <img src="/images/blue-line.png">
                        </div>
                        <div class="follow-status-line2" style="left: 388px;">
                            <img src="/images/blue-line.png">
                        </div>
                        <div class="follow-status-line2" style="left: 528px;">
                            <img src="/images/blue-line.png">
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <table ng-show="!isImportOrExport" class="table table-bordered table-hover unEditContainerTable" style="min-width: 1040px; margin-bottom: 0;">
            <thead style="background: #e5e5e5;">
            <tr>
                <th class="id-display">
                    <span>id</span>
                </th>
                <th>
                    <span>箱型尺寸</span>
                </th>
                <th>
                    <span>箱号</span>
                </th>
                <th>
                    <span>铅封号</span>
                </th>
                <th>
                    <span>状态跟踪</span>
                </th>
            </tr>
            </thead>
            <tbody id="billListTable">
            <tr ng-repeat="item in stateVoList" ng-dblclick="getContainerMsg($event, item.containerId, item.containerGbsId)">
                <td class="id-display">
                    <span class="billOrderId">{{item.containerId}}</span>
                    <span>{{containerGbsId}}</span>
                </td>
                <td>
                    <span>{{item.containerCartonSize}}</span>
                    <span>{{item.containerType}}</span>
                </td>
                <td>
                    {{item.containerCaseNo}}
                </td>
                <td>
                    {{item.containerSealNo}}
                </td>
                <td style="width: 725px;">
                    <div class="container-track" ng-show="item.containerState==0?true:false">
                        <div class="follow-status-item">
                            <img src="../images/grey-done.png">
                            <div class="gray-word">下单完成</div>
                        </div>
                        <div class="follow-status-item" style="left: 165px;">
                            <img src="../images/grey-done.png">
                            <div class="gray-word">提空完成</div>
                        </div>
                        <div class="follow-status-item" style="left: 305px;">
                            <img src="../images/grey-done.png">
                            <div class="gray-word">到达工厂</div>
                        </div>
                        <div class="follow-status-item" style="left: 445px;">
                            <img src="../images/grey-done.png">
                            <div class="gray-word">装柜完成</div>
                        </div>
                        <div class="follow-status-item" style="left: 585px;">
                            <img src="../images/grey-done.png">
                            <div class="gray-word">进港完成</div>
                        </div>
                        <div class="follow-status-line2" style="left: 108px;">
                            <img src="/images/gray-line.png">
                        </div>
                        <div class="follow-status-line2" style="left: 248px;">
                            <img src="/images/gray-line.png">
                        </div>
                        <div class="follow-status-line2" style="left: 388px;">
                            <img src="/images/gray-line.png">
                        </div>
                        <div class="follow-status-line2" style="left: 528px;">
                            <img src="/images/gray-line.png">
                        </div>
                    </div>
                    <div class="container-track" ng-show="item.containerState==1||item.containerState==2||item.containerState==3||item.containerState==4?true:false">
                        <div class="follow-status-item">
                            <img src="../images/red-done.png" ng-show="item.containerState==2||item.containerState==3||item.containerState==4?true:false">
                            <img src="../images/red-check.png" ng-show="item.containerState==1?true:false">
                            <div>下单完成</div>
                            <div style="font-size: 8px;" ng-bind="item.time1"></div>
                        </div>
                        <div class="follow-status-item" style="left: 165px;">
                            <img src="../images/grey-done.png" ng-show="item.containerState==0||item.containerState==1?true:false">
                            <img src="../images/red-done.png" ng-show="item.containerState==3||item.containerState==4?true:false">
                            <img src="../images/red-check.png" ng-show="item.containerState==2?true:false">
                            <div>提空完成</div>
                            <div style="font-size: 8px;" ng-bind="item.time2"></div>
                        </div>
                        <div class="follow-status-item" style="left: 305px;">
                            <img src="../images/grey-done.png" ng-show="item.containerState==0||item.containerState==1||item.containerState==2?true:false">
                            <img src="../images/red-done.png" ng-show="item.containerState==4?true:false">
                            <img src="../images/red-check.png" ng-show="item.containerState==3?true:false">
                            <div>到达工厂</div>
                            <div style="font-size: 8px;" ng-bind="item.time3"></div>
                        </div>
                        <div class="follow-status-item" style="left: 445px;">
                            <img src="../images/grey-done.png" ng-show="item.containerState==0||item.containerState==1||item.containerState==2||item.containerState==3?true:false">
                            <img src="../images/red-done.png" ng-show="item.containerState==5?true:false">
                            <img src="../images/red-check.png" ng-show="item.containerState==4?true:false">
                            <div>装柜完成</div>
                            <div style="font-size: 8px;" ng-bind="item.time4"></div>
                        </div>
                        <div class="follow-status-item" style="left: 585px;">
                            <img src="../images/grey-done.png" ng-show="item.containerState==0||item.containerState==1||item.containerState==2||item.containerState==3||item.containerState==4?true:false">
                            <div>进港完成</div>
                            <div style="font-size: 8px;" ng-bind="item.time5"></div>
                        </div>
                        <div class="follow-status-line" style="left: 108px;">
                            <div>
                                <span ng-show="item.containerState==1?true:false" class="red-word">等待提空</span>
                            </div>
                            <img src="../images/gray-line.png" ng-show="item.containerState==0?true:false">
                            <img src="../images/red-line.png" ng-show="item.containerState==2||item.containerState==3||item.containerState==4?true:false">
                            <img src="../images/red-gray-line.png" ng-show="item.containerState==1?true:false">
                        </div>
                        <div class="follow-status-line" style="left: 248px;">
                            <div>
                                <span ng-show="item.containerState==2?true:false" class="red-word">等待上柜</span>
                            </div>
                            <img src="../images/gray-line.png" ng-show="item.containerState==0||item.containerState==1?true:false">
                            <img src="../images/red-line.png" ng-show="item.containerState==3||item.containerState==4?true:false">
                            <img src="../images/red-gray-line.png" ng-show="item.containerState==2?true:false">
                        </div>
                        <div class="follow-status-line" style="left: 388px;">
                            <div>
                                <span ng-show="item.containerState==3?true:false" class="red-word">等待装货</span>
                            </div>
                            <img src="../images/gray-line.png" ng-show="item.containerState==0||item.containerState==1||item.containerState==2?true:false">
                            <img src="../images/red-line.png" ng-show="item.containerState==4?true:false">
                            <img src="../images/red-gray-line.png" ng-show="item.containerState==3?true:false">
                        </div>
                        <div class="follow-status-line" style="left: 528px;">
                            <div>
                                <span ng-show="item.containerState==4?true:false" class="red-word">等待进码头</span>
                            </div>
                            <img src="../images/gray-line.png" ng-show="item.containerState==0||item.containerState==1||item.containerState==2||item.containerState==3?true:false">
                            <img src="../images/red-gray-line.png" ng-show="item.containerState==4?true:false">
                        </div>
                    </div>
                    <div class="container-track" ng-show="item.containerState==5?true:false">
                        <div class="follow-status-item">
                            <img src="../images/blue-done.png">
                            <div>下单完成</div>
                            <div style="font-size: 8px;" ng-bind="item.time1"></div>
                        </div>
                        <div class="follow-status-item" style="left: 165px;">
                            <img src="../images/blue-done.png">
                            <div>提空完成</div>
                            <div style="font-size: 8px;" ng-bind="item.time2"></div>
                        </div>
                        <div class="follow-status-item" style="left: 305px;">
                            <img src="../images/blue-done.png">
                            <div>到达工厂</div>
                            <div style="font-size: 8px;" ng-bind="item.time3"></div>
                        </div>
                        <div class="follow-status-item" style="left: 445px;">
                            <img src="../images/blue-done.png">
                            <div>装柜完成</div>
                            <div style="font-size: 8px;" ng-bind="item.time4"></div>
                        </div>
                        <div class="follow-status-item" style="left: 585px;">
                            <img src="../images/blue-check.png">
                            <div>进港完成</div>
                            <div style="font-size: 8px;" ng-bind="item.time5"></div>
                        </div>
                        <div class="follow-status-line2" style="left: 108px;">
                            <span ng-show="false">等待提重</span>
                            <img src="/images/blue-line.png">
                        </div>
                        <div class="follow-status-line2" style="left: 248px;">
                            <span ng-show="false">等待上柜</span>
                            <img src="/images/blue-line.png">
                        </div>
                        <div class="follow-status-line2" style="left: 388px;">
                            <span ng-show="false">等待卸货</span>
                            <img src="/images/blue-line.png">
                        </div>
                        <div class="follow-status-line2" style="left: 528px;">
                            <span ng-show="false">等待还空</span>
                            <img src="/images/blue-line.png">
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div style="display: none;">
            <tm-pagination conf="paginationConf"></tm-pagination>
        </div>

    </div>
    <div id="container-follow" containerId="" containerGbsId="" class="detail-second-table" style="background: #d7e3f3; margin-top: 40px; min-width: 1040px;">
        <div class="detail-second-table-inner">
            <div class="follow-info-container">
                <div id="start" style="display: none;">start</div>
                <div id="stop" style="display: none;">stop</div>
                <div id="ticket-follow-info" class="follow-info-map" ng-click="toSingleTicket()">
                    <div id="panel">

                    </div>
                </div>
                <div class="follow-info-pic">
                    <div class="indexmaindiv" id="indexmaindiv">
                        <div class="indexmaindiv1 clearfix" >
                            <div class="stylesgoleft" id="goleft"></div>
                            <div class="maindiv1">
                                <ul id="count1">

                                </ul>
                            </div>
                            <div class="stylesgoright" id="goright"></div>
                        </div>
                    </div>
                </div>
                <div class="follow-msg-container" ng-show="conStatus">
                    <div class="follow-info-single-msg" style="color: #ff0000; margin-left: -5px;">
                        <img src="/images/red-done.png" ng-show="infoVoLastList.time==''||infoVoLastList.time==null||infoVoLastList.time=='null'?false:true" style="width: 25px; height: 25px; margin-right: 8px;">
                        <span style="margin-right: 15px;" ng-bind="infoVoLastList.time"></span>
                        <span ng-bind="infoVoLastList.desc"></span>
                    </div>
                    <div ng-repeat="info in infoVoList">
                        <div style="height: 30px; width: 1px; background: #d2d2d2; margin-left: 7px;"></div>
                        <div class="follow-info-single-msg">
                            <img src="/images/little-grey-done.png" class="follow-info-img">
                            <span style="margin-right: 15px;" ng-bind="info.time"></span>
                            <span ng-bind="info.desc"></span>
                        </div>
                    </div>
                </div>
                <div class="follow-msg-container" ng-show="!conStatus">
                    <div class="follow-info-single-msg" style="color: #ff0000; margin-left: -5px;">
                        <img src="/images/red-done.png" style="width: 25px; height: 25px; margin-right: 8px;">
                        <span style="margin-right: 15px;">2016-5-27 16:03:23</span>
                        <span>进港（码头：海天码头   车牌号：闽D-C3736   司机：陈领震）</span>
                    </div>
                    <div>
                        <div style="height: 30px; width: 1px; background: #d2d2d2; margin-left: 7px;"></div>
                        <div class="follow-info-single-msg">
                            <img src="/images/little-grey-done.png" class="follow-info-img">
                            <span style="margin-right: 15px;">2016-5-27 10:09:23</span>
                            <span>离开工厂（车牌号：闽D-C3736   司机：陈领震）</span>
                        </div>
                    </div>
                    <div>
                        <div style="height: 30px; width: 1px; background: #d2d2d2; margin-left: 7px;"></div>
                        <div class="follow-info-single-msg">
                            <img src="/images/little-grey-done.png" class="follow-info-img">
                            <span style="margin-right: 15px;">2016-5-27 4:10:23</span>
                            <span>抵达工厂（工厂地址：南安大霞美滨江机械制造基地宏盛兴机械）</span>
                        </div>
                    </div>
                    <div>
                        <div style="height: 30px; width: 1px; background: #d2d2d2; margin-left: 7px;"></div>
                        <div class="follow-info-single-msg">
                            <img src="/images/little-grey-done.png" class="follow-info-img">
                            <span style="margin-right: 15px;">2016-5-27 10:36:26</span>
                            <span>提空完成（箱号：APZU3822690   铅封号：AH60119917）</span>
                        </div>
                    </div>
                    <div>
                        <div style="height: 30px; width: 1px; background: #d2d2d2; margin-left: 7px;"></div>
                        <div class="follow-info-single-msg">
                            <img src="/images/little-grey-done.png" class="follow-info-img">
                            <span style="margin-right: 15px;">2016-5-27 9:25:23</span>
                            <span>出发提空（车牌号：闽D-C3736   司机：陈领震）</span>
                        </div>
                    </div>
                    <div>
                        <div style="height: 30px; width: 1px; background: #d2d2d2; margin-left: 7px;"></div>
                        <div class="follow-info-single-msg">
                            <img src="/images/little-grey-done.png" class="follow-info-img">
                            <span style="margin-right: 15px;">2016-5-26 18:59:03</span>
                            <span>接受任务</span>
                        </div>
                    </div>
                    <div>
                        <div style="height: 30px; width: 1px; background: #d2d2d2; margin-left: 7px;"></div>
                        <div class="follow-info-single-msg">
                            <img src="/images/little-grey-done.png" class="follow-info-img">
                            <span style="margin-right: 15px;">2016-5-26 18:52:10</span>
                            <span>下达司机</span>
                        </div>
                    </div>
                    <div>
                        <div style="height: 30px; width: 1px; background: #d2d2d2; margin-left: 7px;"></div>
                        <div class="follow-info-single-msg">
                            <img src="/images/little-grey-done.png" class="follow-info-img">
                            <span style="margin-right: 15px;">2016-5-26 18:50:26</span>
                            <span>计划任务</span>
                        </div>
                    </div>
                    <div>
                        <div style="height: 30px; width: 1px; background: #d2d2d2; margin-left: 7px;"></div>
                        <div class="follow-info-single-msg">
                            <img src="/images/little-grey-done.png" class="follow-info-img">
                            <span style="margin-right: 15px;">2016-5-26 14:09:26</span>
                            <span>审核</span>
                        </div>
                    </div>
                    <div>
                        <div style="height: 30px; width: 1px; background: #d2d2d2; margin-left: 7px;"></div>
                        <div class="follow-info-single-msg">
                            <img src="/images/little-grey-done.png" class="follow-info-img">
                            <span style="margin-right: 15px;">2016-5-26 13:59:26</span>
                            <span>下单</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
