<div class="import-list-content" ng-controller="exportListAdminCtrl">
    <div class="container search-content">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="list-input-container">
                            <label for="_ladingBillNum" class="list-label">提单号：</label>
                            <input id="_ladingBillNum" class="list-input" ng-model="exportOrderBillNo" style="width: 66%; left: 68px;"/>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="list-input-container">
                            <label for="_boatName" class="list-label">船名：</label>
                            <input id="_boatName" class="list-input" ng-model="exportOrderShipName" style="width: 76%; left: 50px; padding-left: 0;"/>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="list-input-container">
                            <label for="_voyage" class="list-label">航次：</label>
                            <input id="_voyage" class="list-input" ng-model="exportOrderSailing" style="width: 76%; left: 50px; padding-left: 0;"/>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="list-input-container">
                            <label for="_eContainerNo" class="list-label">箱号：</label>
                            <input id="_eContainerNo" class="list-input" ng-model="exportOrderContainerNo" style="width: 76%; left: 50px; padding-left: 0;"/>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <div class="row" style="position: relative;">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="list-input-container">
                                    <label for="exportArriveTime1" class="list-label">开航日期起：</label>
                                    <input id="exportArriveTime1" class="detail-date" style="width: 98%; padding-left: 88px;"/>
                                </div>
                            </div>
                            <div style="font-weight: bold; line-height: 35px; position: absolute; left: 49%;">
                                —
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="list-input-container">
                                    <label for="exportArriveTime2" class="list-label">开航日期止：</label>
                                    <input id="exportArriveTime2" class="detail-date" style="width: 98%; padding-left: 88px;"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="position: relative;">
                <button class="btn-search" ng-click="exportListSearch()">查询</button>
                <button class="btn-reset" ng-click="exportListReset()">重置</button>
            </div>
        </div>
    </div>
    <div style="min-width: 1040px;">
        <div class="import-table-title">
            <div style="margin-left: 20px;">订单列表</div>
            <!--<div class="list-add">新增</div>
            <div class="list-title-divider" style="right: 160px;"></div>
            <div class="list-import">导入</div>
            <div class="list-title-divider" style="right: 80px;"></div>-->
            <div class="list-template">模板下载</div>
            <div class="list-title-divider" style="right: 0;"></div>
            <div class="list-follow">全程跟踪</div>
        </div>
        <table class="table table-bordered table-hover table-list">
            <thead>
            <tr style="background: #eeeeee;">
                <th style="width: 20px;">
                    <input id="export-list-select-all" type="checkbox" ng-click="selectExportListAll()"/>
                </th>
                <th>
                    <span>序号</span>
                </th>
                <th class="id-display">
                    <span>id</span>
                </th>
                <th>
                    <span>提单号</span>
                </th>
                <th>
                    <span>码头</span>
                </th>
                <th>
                    <span>船名</span>
                </th>
                <th>
                    <span>航次</span>
                </th>
                <th>
                    <span>单据状态</span>
                </th>
                <th>
                    <span>开航日期</span>
                </th>
                <th style="display: none;">
                    <span>起运港</span>
                </th>
                <th>
                    <span>中转港</span>
                </th>
                <th>
                    <span>目的港</span>
                </th>
                <th>
                    <span>货代代码</span>
                </th>
            </tr>
            </thead>
            <tbody ng-repeat="item in listData">
            <tr ng-dblclick="toAdminExportDetail(item.orderId)">
                <td>
                    <input name="exportListCheck" class="checkbox" type="checkbox"/>
                </td>
                <td>
                    {{item.index}}
                </td>
                <td class="id-display">
                    <span>{{item.orderId}}</span>
                </td>
                <td>
                    {{item.orderBillNo}}
                </td>
                <td>
                    {{item.orderWharf}}
                </td>
                <td>
                    {{item.orderShipName}}
                </td>
                <td>
                    {{item.orderSailing}}
                </td>
                <td>
                    {{item.orderStateDesc}}
                </td>
                <td>
                    {{item.orderSailingDate}}
                </td>
                <td style="display: none;">
                    {{item.orderPort}}
                </td>
                <td>
                    {{item.orderEnterPort}}
                </td>
                <td>
                    {{item.orderDestinationPort}}
                </td>
                <td>
                    {{item.orderShippingCode}}
                </td>
            </tr>
            </tbody>
        </table>

        <tm-pagination conf="paginationConf"></tm-pagination>
    </div>
</div>

<script>
    function toExportDetail(item) {
        sessionStorage.setItem("menuStatus", 4);
        $('#export-detail-menu').addClass('menu-active');
        $('#export-detail-menu').find('.home-arrow').css("display", "block");
        $('#export-detail-menu').siblings().removeClass('menu-active');
        $('#export-detail-menu').siblings().find('.home-arrow').css("display", "none");

        var exportOrderId = $(item).find('span').text();
        sessionStorage.setItem("eOperate", "1");
        sessionStorage.setItem("exportOrderId", exportOrderId);
        console.log("list:  "+exportOrderId);
        window.location.href = "admin-home.html#/export/detail";
    };
</script>