<div class="import-list-content" ng-controller="singleTicketFollowCtrl">
    <div class="container search-content">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div class="container">
                    <div class="row" style="margin-top: 2px">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div style="height: 40px; line-height: 40px; vertical-align: bottom">
                                <label>当前操作状态：</label>
                                <span class="search-span">出口回箱</span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <span class="search-span">当前车速：</span>
                            <span class="search-span-red">87</span>
                            <span class="search-span">km/h</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left: 2px; margin-top: 5px;">
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <span class="search-span">预计到达时间：</span>
                        <span class="search-span">2016-02-24</span>
                        <span class="search-span-red">14:30</span>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <span class="search-span">实际到达时间：</span>
                        <span class="search-span">2016-02-24</span>
                        <span class="search-span-red">14:30</span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-3" style="position: relative;">
                <button class="btn-search" ng-click="billSearch()">全程跟踪</button>
                <button class="btn-reset" ng-click="billReset()">轨迹回放</button>
            </div>
        </div>
    </div>
    <div style="min-width: 1040px; padding: 5px; border: 1px solid #bfbfbf; margin-top: 10px;">
        <div id="single-map">

        </div>
    </div>
</div>